{{ use ('yii\helpers\ArrayHelper') }}
{{ use('yii\widgets\ActiveForm') }}
{{ use('yii\helpers\Html') }}
{{ use('app\models\Team') }}
{{ use('yii\helpers\ArrayHelper') }}
{% if app.session.hasFlash('create_player_success') %}
<div class="alert alert-success">Player was create</div>
    {{ html.a('Go to the team page',{0:'site/view-team','id': team.id},{
        'class': 'btn btn-success'
    }) | raw }}
{% else %}
{% set form=active_form_begin() %}
{{ form.field(model,'name').label('Player Name') |raw }}
{{ form.field(model,'surname').label('Player Surname') | raw }}
{{ form.field(model,'birth_date').widget('dosamigos\\datepicker\\DatePicker',{
    'model': model,
    'attribute': 'date',
    'template': '{addon}{input}',
    'clientOptions': {
        'autoclose': true,
        'format': 'dd-M-yyyy'
    }
}).label('Player date of birth') | raw }}
{{ form.field(model,'position').dropDownList({
    'attack': 'Attack',
    'semi-defence': 'Semi-Defence',
    'defence': 'Defence',
    'goalkeeper': 'Goalkeeper'
}).label('Player position') | raw }}
    {% if all_pl_create %}
    {{ form.field(model,'team_id').dropDownList(teams).label('Player team') | raw }}
        {% endif %}
    {#{{ form.field(model,'team_id').dropDownList(teams).label('Player team') | raw }}#}
{{ html.submitButton('Create',{
    'class': 'btn btn-success'
}) | raw }}
{{ active_form_end() }}
{% endif %}




