{{ use('yii\widgets\ActiveForm') }}
{{ use('yii\helpers\Html') }}
{% if app.session.hasFlash('create_team_success') %}
<div class="alert alert-success">Your team was create</div>
    {{ html.a('Go to teams list',{0:'site/index'},{
        'class': 'btn btn-success'
    }) | raw  }}
{% else %}
{% set form=active_form_begin() %}
{{ form.field(model,'name') |raw }}
{{ form.field(model,'foundation_date').widget('dosamigos\\datepicker\\DatePicker',{
    'model': model,
    'attribute': 'date',
    'template': '{addon}{input}',
    'clientOptions': {
    'autoclose': true,
    'format': 'dd-M-yyyy'
    }
}) | raw }}
{{ html.submitButton('Create',{
    'class': 'btn btn-success'
}) | raw }}
{{ active_form_end() }}
{% endif %}






