{{ use('yii\helpers\Html') }}
<div class="row">
    <div class="col-lg-4 col-lg-push-10">
{{ html.a('Create Team',{0:'site/create-team'},{
    'class': 'btn btn-success'
}) | raw }}
    </div>
</div>
<div class="row">
 <div class="col-lg-12">
<table class="table table-condensed">
    <thead>
    <tr>
        <td><h4>Team name:</h4></td>
        <td><h4>Year of foundation:</h4></td>
    </tr>
    {% for m in model %}
        <tr>
            <td>{{ html.a(m.name,{0:'site/view-team','id': m.id}) | raw }}</td>
            <td>{{ m.foundation_date }}</td>
            <td>
                {{ html.a('update',{0:'site/team-update','id':m.id},{
                    'class': 'btn btn-primary'
                }) | raw }}
                {{ html.a('delete',{0:'site/team-delete','id':m.id},{
                    'class': 'btn btn-danger'
                }) | raw }}
            </td>
        </tr>
    {% endfor %}
    </thead>
</table>
 </div>
</div>