{% if app.session.hasFlash('delete_player_success') %}
<div class="alert alert-success">Player was delete</div>
{% elseif app.session.hasFlash('team_delete_success') %}
    <div class="alert alert-success">
        Your team was delete
    </div>
    {{ html.a('Back to teams list',{0:'site/index'},{
        'class': 'btn btn-success'
    }) | raw }}
    {% else %}
<h1>{{ model.name }} {{ model.surname }} </h1>
<p>Birth date: {{ model.birth_date }}</p>
    <p>Position: <kbd>{{ model.position }}</kbd></p>
{% endif %}