{{ use ('yii\helpers\ArrayHelper') }}
{{ use('yii\widgets\ActiveForm') }}
{{ use('yii\helpers\Html') }}
{% if app.session.hasFlash('player_update_success') %}
    <div class="alert alert-success">Player was update</div>
    {{ html.a('Return to player profile',{0:'site/player-view','id': model.id},{
        'class': 'btn btn-success'
    }) | raw  }}
{% else %}
{% set form=active_form_begin() %}
{{ form.field(model,'name').label('Player Name') |raw }}
{{ form.field(model,'surname').label('Player Surname') | raw }}
{{ form.field(model,'birth_date').widget('dosamigos\\datepicker\\DatePicker',{
    'model': model,
    'attribute': 'date',
    'template': '{addon}{input}',
    'clientOptions': {
        'autoclose': true,
        'format': 'dd-M-yyyy'
    }
}).label('Player date of birth') | raw }}
{{ form.field(model,'position').dropDownList({
    'attack': 'Attack',
    'semi-defence': 'Semi-Defence',
    'defence': 'Defence',
    'goalkeeper': 'Goalkeeper'
}).label('Player position') | raw }}
    {{ form.field(model,'team_id').dropDownList(teams).label('Player team') | raw }}
{{ html.submitButton('Update',{
    'class': 'btn btn-success'
}) | raw }}
{{ active_form_end() }}
{% endif %}