{{ use('yii\helpers\Html') }}

<h1>{{ model.name }}</h1>
<p>Foundation date: {{ model.foundation_date }}</p>
<div class="row">
    <div class="col-lg-4 col-lg-push-8">
{{ html.a('Create player',{0:'site/player-create','id': model.id},{
    'class': 'btn btn-success'
}) | raw }}
    </div>
</div>
<div class="raw">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Surname</h4></td>
                <td><h4>Date of birth</h4></td>
                <td><h4>Position</h4></td>
            </tr>
                {% for p in model.players %}
            <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.surname }}</td>
                    <td>{{ p.birth_date }}</td>
                <td><kbd>{{ p.position }}</kbd></td>
                <td>
                    {{ html.a('View',{0:'site/player-view','id':p.id},{
                        'class': 'btn btn-info'
                    }) | raw }}
                    {{ html.a('Update',{0:'site/player-update','id':p.id},{
                        'class': 'btn btn-success'
                    }) | raw }}
                    {{ html.a('Delete',{0:'site/player-delete','id':p.id},{
                        'class': 'btn btn-danger'
                    }) | raw }}
                </td>
            </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</div>