{{ use('yii\widgets\ActiveForm') }}
{{ use('yii\helpers\Html') }}
{% if app.session.hasFlash('update_team_success') %}
    <div class="alert alert-success">Your team was update</div>
    {{ html.a('Return to team profile',{0:'site/view-team','id': model.id},{
        'class': 'btn btn-success'
    }) | raw  }}
{% else %}
    {% set form=active_form_begin() %}
    {{ form.field(model,'name') |raw }}
    {{ form.field(model,'foundation_date').widget('dosamigos\\datepicker\\DatePicker',{
        'model': model,
        'attribute': 'date',
        'template': '{addon}{input}',
        'clientOptions': {
            'autoclose': true,
            'format': 'dd-M-yyyy'
        }
    }) | raw }}
    {{ html.submitButton('Update',{
        'class': 'btn btn-success'
    }) | raw }}
    {{ active_form_end() }}
{% endif %}